@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FB8500;
    --secondary-color: #FFB703;
    --accent1-color: #023047;
    --accent2-color: #8ECAE6;
    --accent3-color: #219EBC;

    --heading-font: "Unbounded";
    --paragraph-font: MuseoModerno, Roboto, sans-serif;

    --headline-color-on-white: #023047;  /* headlines on a white background */ 
    --headline-color-on-color: #8ECAE6; /* headlines on a colored background */ 
    --paragraph-color-on-white: #023047; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #8ECAE6; /* paragraph text on a colored background */ 
    --paragraph-background-color: #023047;
    --nav-link-color: #023047;
    --nav-background-color: #FB8500;
    --nav-hover-link-color: #023047;
    --nav-hover-background-color: #FFB703;

    --font-size: 14px;
    --margin: 10px; /* margin and padding value */
}

/* general styles */
body {
    font-family: var(--paragraph-font);
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header section */
header {
    background-color: var(--accent1-color);
    color: var(--headline-color-on-color);
    text-align: center;
}

#header {
    display: inline-block;
    margin-top: 50px;
    font-size: 12px;
}

.img-logo img {
    width: 50px;
    height: auto;
}

.scoots-name h1 {
    font-family: var(--heading-font);
    font-size: 2em;
}

.img-logo,
.scoots-name {
    display: inline-block;
    vertical-align: middle;
}

.img-logo img,
.scoots-name h1 {
    display: inline;
    margin-right: 10px;
}

.right-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    margin-right: 20px;
}

.navigation ul.open{
    display: block;
    text-align: center;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: transparent;
	color: var(--secondary-color);
    position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "➡";
}

.open a {
	display:block;
}

/* Social media section */
#social-media {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.social-icons a {
    display: inline-block;
    padding: var(--margin);
    
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Navigation section */
nav ul {
    list-style-type: none;
    display: none;
    justify-content: center;
    background-color: var(--nav-background-color);
    
}

nav ul li a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: var(--margin);
    display: block;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

/* main section*/
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: var(--nav-link-color);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: var(--heading-font);
    border-radius: 5px;
}

.hero .button:hover{
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
}

.hero p {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: var(--accent1-color);
    padding: var(--margin);
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    white-space: pre-wrap;
    font-family: var(--heading-font);
}

/* rental section */
#rentals {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    text-align: center;
    
}

#rentals p, h2{
    padding: var(--margin);
    color: var(--headline-color-on-white);
}

#rentals .arrows::before{
    content: "🢃";
}

#rentals .arrows::after{
    content: "🢃";
}

.carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.slides .slide img {
    width: 100%;
    height: auto;
    border: 3px solid #023047;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.description h2 {
    color: white;
}

.description a{
    color: var(--primary-color);
}

.description {
    position: absolute;
    bottom: 27px;
    left: 0; 
    right: 0; 
    width: calc(100% - 6px); 
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: var(--accent1-color);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #fb86008e;
    z-index: 2; 
}

.prev {
    left: 3px;
}

.next {
    right: 3px;
}


.weather-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    background-color: var(--accent1-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.weather h2 {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    color: var(--accent1-color);
}

.weather p {
    background-color: var(--accent1-color);
    padding: 10px;
    margin: 10px 0;
    color: var(--secondary-color);
}


.high-temp-message {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #f44336; 
    color: white; 
    padding: 10px;
    text-align: center;
    z-index: 10; 
}

  /* Botón para cerrar el mensaje */
.closebtn {
    cursor: pointer;
    float: right;
    font-size: 20px;
    line-height: 20px;
}

/* footer section*/
footer {
    background-color: var(--accent1-color);
    color: var(--paragraph-color-on-color);
    text-align: center;
    padding: var(--margin);
}

.high-temp-message {
    position: relative;
    width: 100%;
    background-color: white;
    color: var(--accent1-color);
    text-align: center;
    box-sizing: border-box;
}

/* Rentals section */
#rental_info{
    text-align: center;
    color: var(--accent1-color);
    padding: 15px;
}


#gridlist {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #eee;
	font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

.gridlistmenu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.gridlistmenu button {
	padding: 1rem;
	font-weight: 700;
}

.rental_list {
	border: 1px solid var(--secondary-color);
	padding: 10px;
	background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 12px 14px var(--accent1-color), 0 6px 20px 0 var(--accent1-color);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	align-items: center;
    margin: 25px;
    
}

.grid .rental_list {
	text-align: center;
}

.grid .rental_list > * {
	margin: 0 auto;
}

.grid h3 {
	font-family: var(--heading-font);
}

.list {
	display: flex;
	flex-direction: column;
    margin: 25px;
}

.list .rental_list {
	display: grid;
	grid-template-columns: 1fr;
	margin: 5px;
	padding: 0.25rem;
}

.list .rental_list > * {
	margin: 0 1rem;
}

.list .rental_list img {
	display: none;
}

.list .rental_list h3 {
	font-size: 1rem;
	font-family: var(--heading-font);
}

.list .rental_list:nth-child(even) {
	background-color: #ffb80380;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

img {
	height: 75px;
	max-width: 100%; 
}

/*table css*/
#rental_table {
    margin: 50px auto; 
    max-width: 650px;
    padding: 0.5rem;
}

#rental_table table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

#rental_table th, #rental_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.max_price {
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    color: var(--accent1-color);
} 

.th, .reservation_walk{
    color: var(--secondary-color);
}

.reservation, .walk-in {
    font-weight: bold;
    color: #fff;
}

.rental_button {
    display: block;
    margin: 50px auto;
    background-color: var(--secondary-color);
    color: var(--nav-link-color);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: var(--heading-font);
    border-radius: 5px;
    text-align: center;
    max-width: 200px;
}

.rental_button:hover {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
}

