@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald:wght@400&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #023E8A;
    --secondary-color: #0077B6;
    --accent1-color: #48CAE4;
    --accent2-color: #ADE8F4;

    --heading-font: "Oswald";
    --paragraph-font: Merriweather, Roboto, sans-serif;

    --headline-color-on-white: #0077B6;  /* headlines on a white background */ 
    --headline-color-on-color: #ADE8F4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #023E8A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ADE8F4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #023E8A;
    --nav-link-color: #ADE8F4;
    --nav-background-color: #023E8A;
    --nav-hover-link-color: #023E8A;
    --nav-hover-background-color: #48CAE4;

    --font-size: 14px;
    --margin: 10px; /* margin and padding value */
}

#mode {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	z-index: 1000;
    background-color: white; 
	border-radius: 50%; 
	padding: 1rem; 
}

#container {
    width: 100%;
    margin: 0 auto;
}

#header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: var(--margin);
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}

.img-logo img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.chamber-name {
    text-align: left;
}

.chamber-name h1 {
    margin: 0;
    font-size: 3rem;
    text-align: left;
}

.chamber-name span {
    display: block;
    margin: 0;
    font-size: 1.5rem;
    margin-top: 10px;
}

.right-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    margin-right: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons img {
    height: 30px;
    margin-left: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.main-content p {
    color: var(--paragraph-color-on-color);
    padding: var(--margin);
    margin: var(--margin);
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--nav-background-color);
    font-size: 25px;
}

nav ul {
    display: none;
    list-style: none;
    justify-content: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a.active {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    padding: 1px;
}

.navigation ul.open{
    display: block;
    text-align: center;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: transparent;
	color: var(--accent1-color);
    position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "➡";
}

.open a {
	display:block;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.hero a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(2, 62, 138, 0.5);
    color: var(--accent2-color);
    padding: 10px 25px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--heading-font);
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    min-width: 5%;
}

.hero a:hover {
    background-color: var(--primary-color);
}

.main-content h2, .card h2{
    margin-bottom: 10px;
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    border-bottom: 0.5px solid var(--headline-color-on-white);
}

.card, .main-content {
    width: 90%;
    background-color: var(--accent2-color);
    color: var(--paragraph-background-color);
    padding: var(--margin);
    margin: 25px  auto;
    text-align: left;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-content p, .card p {
    color: var(--paragraph-background-color);
    text-decoration: none;
    margin-top: 25px;
}

.main-content .p1{
    color: var(--paragraph-background-color);
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: -30px;
}

.card p{
    text-align: center;
}

#section1, .gye-records {
    min-height: 300px;
}

.gye-records {
    padding: var(--margin);
    text-align: center;
}

.gye-records h2 {
    margin-bottom: 10px;
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
}

button, h2 {
    min-width: 150px;
    
}

.record {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    width: 65%;
    background-color: var(--accent2-color);
    color: var(--paragraph-background-color);
    padding: var(--margin);
    margin: 10px  auto;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card1 h3, .card2 h3, .card3 h3 {
    margin-bottom: 10px;
    color: var(--paragraph-color-on-white);
    font-family: var(--heading-font);
    font-size: 25px;
    text-align: left;
}

.card1 h3::before {
	content: "⚽ ";
}

.card2 h3::before {
	content: "💻 ";
}

.card3 h3::before {
	content: "📡 ";
}

.record .pcongrats{
    text-align: right;
    margin-right: 10%;
}
.card1 a, .card2 a, .card3 a {
    color: var(--paragraph-background-color);
    text-decoration: none;
}

footer {
    background-color: var(--paragraph-background-color);
    color: var(--accent2-color);
    padding: 25px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sidebar {
    grid-column: 1;
    margin: 30px;
    background-color: var(--accent2-color);
    color: var(--paragraph-background-color);
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.picture-content{
    grid-column: 1;
    margin: 30px;
    padding: 30px;
    background-color: var(--accent2-color);
    color: var(--paragraph-background-color);
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sidebar div {
    margin-bottom: 50px;
}

#visit-message{
    font-size: 25px;
    text-align: center;
}

.sidebar h2{
    font-family: var(--heading-font);
    margin-bottom: 10px;
}

.demographics p, h2{
    justify-content: center;
    text-align: center;
}

#calendar {
    display: flex;
    justify-content: center;
}

#calendar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#calendar-nav button {
    background: none;
    border:none;
    font-size: 2em;
    cursor: pointer;
}

#month-year{
    display: flex;
    justify-content: center;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th {
    background-color: #f0f0f0;
    padding: 10px;
}

#calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.today {
    background-color: var(--accent1-color);
}

.events ul{
    justify-content: center;
    text-align: center;
    list-style: none;
}

.hover:hover {box-shadow: 0 0 50px #333;}
.rocorn {border-radius: 15px 150px;}
.opac {opacity: .5;}
.mbm-difference{mix-blend-mode:difference;}
.blur {filter: blur(4px);}
.contrast {filter: contrast(50%);}

[data-theme='dark'] .sidebar {
    background: #343434;
    color: #ffffff;
}

[data-theme='dark'] .picture-content {
    background: #343434;
    color: #ffffff;
}

.sidebar-form {
    grid-column: 1;
    margin-top: 50px;
    background-color: var(--accent2-color);
    color: var(--paragraph-background-color);
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    max-width: 500px;
}

.sidebar-form h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.sidebar-form p {
    margin-bottom: 20px;
    line-height: 1.6;
}


/*----------- MAIN --------------*/
main {
    padding: 0% 20%;
    min-height: 20rem;
}

main h1{
    color: var(--headline-color-on-white);
    margin-left: 20px;
}
/*----------- FORM --------------*/

.f1 fieldset{
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: .5rem 2%;
    color: var(--headline-color-on-white);
}

.f1 legend {
    color: var(--headline-color-on-white);
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.f1 label{
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: .9rem;
}


.f1 div{
    padding-top: 1rem;
    color: var(--primary-color);
    font-size:  .9rem;
}

.f1 input[type="text"],
.f1 input[type="tel"],
.f1 input[type="email"],
.f1 input[type="textarea"],
.f1 select,
.f1 input[type="number"]
{
    display: block;
    margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid var(--primary-color);
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


.f1 input[type="radio"],
.f1 input[type="checkbox"]
{
    margin-right: 6px;
}

#join
{
    border: none;
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-size: 25px;

}

.f1 input:required{
    border-right: solid 8px red;
}

.f1 input:required:valid{
    border-right: solid 8px green;
}

.membership-level-display {
    display: flex;
    align-items: center;
}

#membership-level {
    margin-left: 0.5rem;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 200px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 50px;
    transition: 0.2s ease;
    color: var(--primary-color);;
}

.star-rating label:hover {
    color: var(--primary-color);
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform:scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked ~ label:before {
    content:'\2605';
}

#star-a:checked ~ label { color: yellow; }
#star-b:checked ~ label { color: rgb(90, 90, 90);}
#star-c:checked ~ label { color: rgb(158, 68, 7);  }
#star-d:checked ~ label { color: blue; }


/*----------- directory --------------*/

#gridlist {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: var(--paragraph-font);
}

.gridlistmenu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.gridlistmenu button {
	padding: 1rem;
	font-weight: 700;
}

.directorylist {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	align-items: center;
    margin: 25px;
    
}

.grid .directorylist {
	text-align: center;
}

.grid .directorylist > * {
	margin: 0 auto;
}

.grid h3 {
	font-family: var(--heading-font);
}

.list {
	display: flex;
	flex-direction: column;
    margin: 25px;
}

.list .directorylist {
	display: grid;
	grid-template-columns: 1fr;
	margin: 5px;
	padding: 0.25rem;
}

.list .directorylist > * {
	margin: 0 1rem;
}

.list .directorylist img {
	display: none;
}

.list .directorylist h3 {
	font-size: 1rem;
	font-family: var(--heading-font);
}

.list .directorylist:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: var(--paragraph-font);
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; 
}


#banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    text-align: center;
    z-index: 1000;
    padding: 20px 0;
    font-size: 15px;
}

#close-btn {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}


@-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
}