@media (min-width: 850px) and (max-width:1024px){
    
    #header{
        justify-content: space-between; 
    }

    .chamber-name {
        display: flex;
        flex-direction: row; 
        align-items: center; 
    }

    
    .chamber-name h1, .chamber-name span {
        margin: 0;
        font-size: 3rem;
        text-align: left;
    }

    .chamber-name span {
        display: inline-block; 
        margin-left: 10px; 
        margin-top: 0; 
    }

    #menu{
        display:none;
    }

    nav ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .active::before {
        content: "| "; 
        color: var(--primary-color);
    }
    
    .active::after {
        content: " |"; 
        color: var(--primary-color);
    }

    .hero {
        position: relative;
        overflow: hidden;
    }

    .hero a {
        top: 50px; 
        left: 130px; 
        padding: 5px 15px;
        font-size: 30px;
    }
    

    #section1 {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 20px; 
        padding: 20px;
    }
    
    .main-content, .card {
        box-sizing: border-box;
        margin: 10px;
        width: 100%; 
    }

    .gye-records h2{
        text-align: left;
        margin-left: 35px;
        margin-top: -5px;
    }
    
    .record {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
        margin-top: -38px;
    }

    .cardshomepage {
        box-sizing: border-box;
        margin: 10px; 
        width: 100%; 
        
    }
    
    .footer p {
        margin: 25px;
        display: inline-block;
        font-size: large;
    }

    .footer p:not(:last-child)::after {
        content: " | ";
        padding-left: 25px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-gap: 10px;
        margin-left: -100px;
    }

    .sidebar-form {
        margin: 1rem;
    }

    .grid-form{
        grid-column: 2;
        display: grid;
        margin-left: 50px;
    }

    .picture-content {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #gridlist {
        margin: 50px;
        padding: 0.5rem;
        max-width: 100%;
    }

    .list .directorylist {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    #banner {
        font-size: 20px;
    }

    #close-btn {
        font-size: 20px;
    }

}