/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Tektur', 'Roboto', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid #ffffff;
    margin-right: 20px; 
}

.navigation {
    background-color: #444;
    font-family: 'Tektur', 'Roboto', sans-serif;
}

.navigation ul {
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navigation ul li a:hover {
    background-color: #555;
}

.navigation ul.open{
    display: block;
    text-align: center;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
    position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "➡";
}

.open a {
	display: block;
}

.navigation .active{
    color: yellow;
}

.active::before {
	content: "| "; 
    color: yellow;
}

.active::after {
	content: " |"; 
    color: yellow;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 270px;
	left: 60px;
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel h2 {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family: 'Tektur', 'Roboto', sans-serif;
    color: #fff;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: 'Tektur', 'Roboto', sans-serif;
    text-align: center;
}

h2{
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    margin:40px ;  
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h3{
    background-color: #000000; 
    color: #ffffff;
    padding: 10px;
    margin-top: auto;
    border-radius: 10px;
    font-family: 'Tektur', 'Roboto', sans-serif;
    font-size: 20px;
}

.card ul{
    margin: 30px;
}

.card h4{
    padding: 20px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}

main section {
    width: 100%;
}

.map {
    width: 100%;
    padding: 20px;
    margin-top: -40px;
}

.map .map-iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

footer {
    background-color: #000000;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer h3{
    padding:10px;
    font-family: 'Roboto';
    font-size: 20px;
}

#flag{
    width: 65px;
    height: auto;
}

#name::before{
    content:"⚽ ";
}

#name::after{
    content:" ⚽";
}

#countryFlag {
    display: flex;
    align-items: center; 
    gap: 5px;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}